* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Copperplate, fantasy;
}

canvas {
    display: block;
    margin: auto;
    background: url('images/Bg1.png') no-repeat;
    background-size: cover;
}

.message {
    position: absolute;
    z-index: 10;
    color: black;
    top: 30%;
    left: 50%;
    font-size: 4em;
    transform: translate(-50%, -50%);
    text-align: center;
}

.messageStyle {
    background: white;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5%;
}


.score {
    position: fixed;
    z-index: 10;
    height: 5vh; 
    font-size: 5vh; 
    font-weight: 100;
    color: white;
    top: 10px; 
    left: 110px; 
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

.score_val {
    position: fixed;
	color: gold;
    font-weight: bold;
	top: 7px; 
    left: 220px; 
    margin: 0; 
}

@media only screen and (max-width: 1080px) {
    .message {
        font-size: 50px;
        top: 50%;
        white-space: nowrap;
    }
    .score {
        font-size: 4vh; 
    }
}
